/* Sizing the page*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Disabling text selection */
body{
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Prevent horizontal scroll */
html, body{
  width: 100%;
  overflow-x: hidden;
}

/* Scroll behaviour */
html{
  scroll-behavior: smooth;
}

/* Background */
#background-video{
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -2;
}
body{
  background-color: black; /* fallback */
}

/* Page wrap */
.page-wrap{
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
}

/* Name */
.name-box{
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}
.name{
  color: white;
  font-family: "Bitcount Single", sans-serif;
  font-size: clamp(2.5rem, 8vw, 6rem);
  text-align: center;
}

/* Description & Photo */
.dnp-grid{
  display: flex;
  gap: 0.5rem;
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  justify-content: center;
  align-items: center;
}

/* Photo */
.photo-box{
  display: flex;
  flex-shrink: 0;
}
.profile-picture{
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
}

/* Description */
.description-box{
  display: flex;
  flex: 1;
  color: white;
  margin-left: 10px;
  font-family: Georgia;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 20px;
}

/* Divider text */
.div-text{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 7rem;
  color: white;
  font-family: "Bitcount Single", sans-serif;
  font-size: 30px;
}

/* Cards Scroll */
.scroll-wrap{
  display: flex;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 200px;
  margin-top: 3rem;
  padding-bottom: 0.5rem;
}
.scroll-wrap::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}
.scroll-wrap .scroll-item{
  min-width: 150px;
  width: 200px;
  height: 200px;
  background-color: rgba(200, 200, 200, 0.1);
  margin-right: 1rem;
  flex-shrink: 0;
  border: 1px solid lightgray;
  border-radius: 50%;
  display: flex;
  padding: 0 12px;
  line-height: 1.2;
  align-items: center;
}
.scroll-item{
  font-family: "Bitcount Single";
  font-size: 30px;
  white-space: normal;
  justify-content: center;
  text-align: center;
  word-break: break-word;
  cursor: pointer;
  transition: background-color 1s ease;
  color: white;
}
.tech, .writing{
  text-decoration: none;
  color: white;
}
.scroll-item:hover{
  background-color: lightgray;
  color: black;
}

/* Connect */
.connect-text{
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  color: white;
  font-family: "Bitcount Single", sans-serif;
  font-size: 30px;
}
.connect-items{
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}
.linkedin, .github, .mail{
  background-color: rgba(200, 200, 200, 0.1);
  width: 100px;
  height: 100px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  margin-right: 1rem;
  cursor: pointer;
  position: relative;
}
.copy-msg{
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Bitcount Single", sans-serif;
  font-size: 12px;
  color: white;
  pointer-events: none;
}

/* Footer */
.footer{
  margin-top: 6rem;
  text-align: center;
  color: rgba(255,255,255,0.7);
  font-size: 1rem;
  font-family: "Georgia";
   margin-bottom: 100px;
}

/* For Mobile */
@media (max-width: 700px){
  .dnp-grid{
    flex-direction: column;
    text-align: center;
  }
  .description-box{
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
  }
  .scroll-wrap{
    justify-content: flex-start;
  }
  .scroll-wrap .scroll-item{
    width: 130px;
    min-width: 130px;
    height: 130px;
    font-size: 22px;
  }
  .linkedin, .github, .mail{
    width: 80px;
    height: 80px;
  }
  .connect-items{
    padding-left: 1rem;
  }
}
